Repository fluttercommunity/plus_plugins, pull requests merged in 2020-10, with the labels that each got.

#17 fixed typo
  packages/sensors_plus_web/lib/src/sensors.dart
Labels: enhancement, sensors_plus

#18 Use secure links in README
  packages/android_alarm_manager_plus/README.md
  packages/android_intent_plus/README.md
  packages/connectivity_plus/README.md
  packages/device_info_plus/README.md
Labels: documentation, enhancement

#19 [package_info_plus_web] Added integration tests
  packages/package_info_plus_web/lib/package_info_plus_web.dart
  packages/package_info_plus_web/pubspec.yaml
Labels: package_info_plus

#2 Initial Macos support to Battery Plus
  .gitignore
  packages/battery_plus/example/macos/.gitignore
  packages/battery_plus/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/battery_plus/example/macos/Flutter/Flutter-Release.xcconfig
  packages/battery_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/battery_plus/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/battery_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/battery_plus/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/battery_plus/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/battery_plus/example/macos/Runner/AppDelegate.swift
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/battery_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/battery_plus/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/battery_plus/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/battery_plus/example/macos/Runner/Configs/Debug.xcconfig
  packages/battery_plus/example/macos/Runner/Configs/Release.xcconfig
  packages/battery_plus/example/macos/Runner/Configs/Warnings.xcconfig
  packages/battery_plus/example/macos/Runner/DebugProfile.entitlements
  packages/battery_plus/example/macos/Runner/Info.plist
  packages/battery_plus/example/macos/Runner/MainFlutterWindow.swift
  packages/battery_plus/example/macos/Runner/Release.entitlements
  packages/battery_plus/macos/battery_plus.podspec
  packages/battery_plus/pubspec.yaml
  packages/battery_plus_macos/.gitignore
  packages/battery_plus_macos/.metadata
  packages/battery_plus_macos/CHANGELOG.md
  packages/battery_plus_macos/LICENSE
  packages/battery_plus_macos/README.md
  packages/battery_plus_macos/lib/battery_plus_macos.dart
  packages/battery_plus_macos/macos/Classes/BatteryPlusChargingHandler.swift
  packages/battery_plus_macos/macos/Classes/BatteryPlusMacosPlugin.swift
  packages/battery_plus_macos/macos/battery_plus_macos.podspec
  packages/battery_plus_macos/pubspec.yaml
Labels: battery_plus

#30 Clean up Pubspec and Podspec metadata
  AUTHORS
  packages/battery_plus/macos/battery_plus.podspec
  packages/battery_plus/pubspec.yaml
  packages/battery_plus_macos/macos/battery_plus_macos.podspec
  packages/battery_plus_macos/pubspec.yaml
Labels: battery_plus, enhancement

#20 introduce share_plus_web
  packages/share_plus_web/CHANGELOG.md
  packages/share_plus_web/LICENSE
  packages/share_plus_web/README.md
  packages/share_plus_web/lib/share_plus_web.dart
  packages/share_plus_web/pubspec.yaml
  packages/share_plus_web/test/lib/main.dart
  packages/share_plus_web/test/pubspec.yaml
  packages/share_plus_web/test/test_driver/share_plus_web_integration.dart
  packages/share_plus_web/test/test_driver/share_plus_web_integration_test.dart
  packages/share_plus_web/test/web/index.html
Labels: share_plus
