Repository fluttercommunity/plus_plugins, pull requests merged in 2021-02, with the labels that each got.

#95 fix(device_info_plus): return Edge for browser name for both new edge and old one
  packages/device_info_plus_platform_interface/lib/model/web_browser_info.dart
Labels: device_info_plus

#101 [network_info_plus] update README & website
  README.md
  website/plugins.js
Labels: network_info_plus

#103 Fix integration tests on Linux
  melos.yaml
  packages/battery_plus/example/pubspec.yaml
  packages/battery_plus/pubspec.yaml
  packages/battery_plus_web/pubspec.yaml
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus_web/pubspec.yaml
  packages/device_info_plus/example/pubspec.yaml
  packages/device_info_plus_web/pubspec.yaml
  packages/network_info_plus/example/pubspec.yaml
  packages/network_info_plus/pubspec.yaml
  packages/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/example/test_driver/package_info_plus_e2e.dart
  packages/package_info_plus/pubspec.yaml
  packages/sensors_plus/example/pubspec.yaml
  packages/sensors_plus/pubspec.yaml
  packages/sensors_plus_web/pubspec.yaml
  packages/share_plus/example/pubspec.yaml
  packages/share_plus/pubspec.yaml
  packages/share_plus_platform_interface/pubspec.yaml
  packages/share_plus_web/pubspec.yaml
  packages/share_plus_web/test/pubspec.yaml
Labels: e2e tests

#102 [device_info_plus] sync repo sources with the v0.6.0 release
  packages/device_info_plus/CHANGELOG.md
  packages/device_info_plus/pubspec.yaml
Labels: device_info_plus

#106 Enable channel beta on CI
  .github/workflows/all_plugins.yaml
  packages/android_alarm_manager_plus/example/test_driver/android_alarm_manager_plus_e2e_test.dart
  packages/device_info_plus/example/lib/main.dart
Labels: all

#104 [connectivity_plus] deprecate members moved to network_info_plus
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/example/test_driver/connectivity_plus_e2e.dart
  packages/connectivity_plus/lib/connectivity_plus.dart
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/test/connectivity_test.dart
Labels: connectivity_plus

#107 [android_intent_plus] nullsafety migration
  packages/android_intent_plus/CHANGELOG.md
  packages/android_intent_plus/example/pubspec.yaml
  packages/android_intent_plus/example/test_driver/android_intent_plus_e2e.dart
  packages/android_intent_plus/lib/android_intent.dart
  packages/android_intent_plus/pubspec.yaml
  packages/android_intent_plus/test/android_intent_test.dart
Labels: android_intent_plus

#108 [android_alarm_manager_plus] migrate to null safety
  packages/android_alarm_manager_plus/CHANGELOG.md
  packages/android_alarm_manager_plus/lib/android_alarm_manager_plus.dart
  packages/android_alarm_manager_plus/pubspec.yaml
Labels: android_alarm_manager_plus

#110 [connectivity_plus] add Windows support
  README.md
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/example/windows/.gitignore
  packages/connectivity_plus/example/windows/CMakeLists.txt
  packages/connectivity_plus/example/windows/flutter/CMakeLists.txt
  packages/connectivity_plus/example/windows/flutter/generated_plugin_registrant.cc
  packages/connectivity_plus/example/windows/flutter/generated_plugin_registrant.h
  packages/connectivity_plus/example/windows/flutter/generated_plugins.cmake
  packages/connectivity_plus/example/windows/runner/CMakeLists.txt
  packages/connectivity_plus/example/windows/runner/Runner.rc
  packages/connectivity_plus/example/windows/runner/flutter_window.cpp
  packages/connectivity_plus/example/windows/runner/flutter_window.h
  packages/connectivity_plus/example/windows/runner/main.cpp
  packages/connectivity_plus/example/windows/runner/resource.h
  packages/connectivity_plus/example/windows/runner/resources/app_icon.ico
  packages/connectivity_plus/example/windows/runner/run_loop.cpp
  packages/connectivity_plus/example/windows/runner/run_loop.h
  packages/connectivity_plus/example/windows/runner/runner.exe.manifest
  packages/connectivity_plus/example/windows/runner/utils.cpp
  packages/connectivity_plus/example/windows/runner/utils.h
  packages/connectivity_plus/example/windows/runner/win32_window.cpp
  packages/connectivity_plus/example/windows/runner/win32_window.h
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus_windows/.gitignore
  packages/connectivity_plus_windows/.metadata
  packages/connectivity_plus_windows/CHANGELOG.md
  packages/connectivity_plus_windows/LICENSE
  packages/connectivity_plus_windows/README.md
  packages/connectivity_plus_windows/lib/connectivity_plus_windows.dart
  packages/connectivity_plus_windows/pubspec.yaml
  packages/connectivity_plus_windows/windows/.gitignore
  packages/connectivity_plus_windows/windows/CMakeLists.txt
  packages/connectivity_plus_windows/windows/connectivity_plus_windows_plugin.cpp
  packages/connectivity_plus_windows/windows/include/connectivity_plus_windows/connectivity_plus_windows_plugin.h
  packages/connectivity_plus_windows/windows/network_manager.cpp
  packages/connectivity_plus_windows/windows/network_manager.h
  website/plugins.js
Labels: connectivity_plus

#124 [share_plus] add macOS support
  README.md
  packages/share_plus/CHANGELOG.md
  packages/share_plus/README.md
  packages/share_plus/example/macos/.gitignore
  packages/share_plus/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/share_plus/example/macos/Flutter/Flutter-Release.xcconfig
  packages/share_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/share_plus/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/share_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/share_plus/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/share_plus/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/share_plus/example/macos/Runner/AppDelegate.swift
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/share_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/share_plus/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/share_plus/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/share_plus/example/macos/Runner/Configs/Debug.xcconfig
  packages/share_plus/example/macos/Runner/Configs/Release.xcconfig
  packages/share_plus/example/macos/Runner/Configs/Warnings.xcconfig
  packages/share_plus/example/macos/Runner/DebugProfile.entitlements
  packages/share_plus/example/macos/Runner/Info.plist
  packages/share_plus/example/macos/Runner/MainFlutterWindow.swift
  packages/share_plus/example/macos/Runner/Release.entitlements
  packages/share_plus/macos/share_plus.podspec
  packages/share_plus/pubspec.yaml
  packages/share_plus_macos/.gitignore
  packages/share_plus_macos/.metadata
  packages/share_plus_macos/CHANGELOG.md
  packages/share_plus_macos/LICENSE
  packages/share_plus_macos/README.md
  packages/share_plus_macos/lib/share_plus_macos.dart
  packages/share_plus_macos/macos/Classes/SharePlusMacosPlugin.swift
  packages/share_plus_macos/macos/share_plus_macos.podspec
  packages/share_plus_macos/pubspec.yaml
  website/plugins.js
Labels: share_plus

#127 [website] documentation website
  docs/README.md
  docs/battery/overview.mdx
  docs/null_safety.mdx
  docs/overview.mdx
  docs/sidebars.js
  website/README.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/pages/index.tsx
Labels: documentation, website

#137 Battery Plus website docs
  docs/battery/overview.mdx
  docs/battery/usage.mdx
  docs/migration_guide.mdx
  docs/overview.mdx
  docs/sidebars.js
  packages/battery_plus/lib/battery_plus.dart
  website/package-lock.json
  website/src/pages/index.tsx
  website/src/pages/styles.module.scss
  website/src/styles.scss
Labels: battery_plus, documentation

#161 [connectivity_plus] website docs + example app
  docs/connectivity/overview.mdx
  docs/connectivity/usage.mdx
  docs/sidebars.js
  packages/connectivity_plus/README.md
  packages/connectivity_plus/example/lib/main.dart
Labels: connectivity_plus, documentation

#167 Migrate examples to null-safety (#50)
  packages/battery_plus/example/lib/main.dart
  packages/battery_plus/example/pubspec.yaml
  packages/battery_plus/example/test_driver/battery_plus_e2e.dart
  packages/battery_plus/example/test_driver/battery_plus_e2e_test.dart
  packages/connectivity_plus/example/pubspec.yaml
  packages/device_info_plus/example/pubspec.yaml
  packages/device_info_plus/example/test_driver/device_info_plus_e2e.dart
  packages/device_info_plus/example/test_driver/device_info_plus_e2e_test.dart
  packages/package_info_plus/example/lib/main.dart
  packages/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/example/test_driver/package_info_plus_e2e.dart
  packages/package_info_plus/example/test_driver/package_info_plus_e2e_test.dart
  packages/sensors_plus/example/lib/main.dart
  packages/sensors_plus/example/lib/snake.dart
  packages/sensors_plus/example/pubspec.yaml
  packages/sensors_plus/example/test_driver/sensors_plus_e2e.dart
  packages/sensors_plus/example/test_driver/sensors_plus_e2e_test.dart
  packages/share_plus/example/lib/image_previews.dart
  packages/share_plus/example/lib/main.dart
  packages/share_plus/example/pubspec.yaml
  packages/share_plus/example/test_driver/share_plus_e2e.dart
  packages/share_plus/example/test_driver/share_plus_e2e_test.dart
  packages/share_plus/pubspec.yaml
Labels: all
