Repository fluttercommunity/plus_plugins, pull requests merged in 2021-08, with the labels that each got.

#387 Port connectivity_plus_linux to nm.dart
  packages/connectivity_plus/connectivity_plus_linux/lib/src/connectivity_real.dart
  packages/connectivity_plus/connectivity_plus_linux/lib/src/network_manager.dart
  packages/connectivity_plus/connectivity_plus_linux/pubspec.yaml
  packages/connectivity_plus/connectivity_plus_linux/test/connectivity_plus_linux_test.dart
  packages/connectivity_plus/connectivity_plus_linux/test/connectivity_plus_linux_test.mocks.dart
Labels: connectivity_plus

#384 feat: get scheduled alarms functionality added.
  packages/android_alarm_manager_plus/CHANGELOG.md
  packages/android_alarm_manager_plus/android/src/main/java/dev/fluttercommunity/plus/androidalarmmanager/AlarmBroadcastReceiver.java
  packages/android_alarm_manager_plus/android/src/main/java/dev/fluttercommunity/plus/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager_plus/android/src/main/java/dev/fluttercommunity/plus/androidalarmmanager/ScheduledAlarmsList.java
  packages/android_alarm_manager_plus/example/lib/main.dart
  packages/android_alarm_manager_plus/lib/android_alarm_manager_plus.dart
  packages/android_alarm_manager_plus/pubspec.yaml
Labels: android_alarm_manager_plus

#398 Fixed links in docs/overview.mdx
  docs/overview.mdx
Labels: website

#391 Connectivity_plus detect no-network on Android M and above
  packages/connectivity_plus/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus/android/src/main/java/dev/fluttercommunity/plus/connectivity/Connectivity.java
  packages/connectivity_plus/connectivity_plus/android/src/main/java/dev/fluttercommunity/plus/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
Labels: connectivity_plus

#393 fix(package_info_plus): restore backward compatibility
  packages/package_info_plus/package_info_plus/CHANGELOG.md
  packages/package_info_plus/package_info_plus/lib/package_info_plus.dart
  packages/package_info_plus/package_info_plus/pubspec.yaml
Labels: connectivity_plus

#388 feat(sensors_plus): add magnetometer support
  packages/sensors_plus/sensors_plus/CHANGELOG.md
  packages/sensors_plus/sensors_plus/README.md
  packages/sensors_plus/sensors_plus/android/src/main/java/dev/fluttercommunity/plus/sensors/SensorsPlugin.java
  packages/sensors_plus/sensors_plus/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/sensors_plus/sensors_plus/example/lib/main.dart
  packages/sensors_plus/sensors_plus/ios/Classes/FLTSensorsPlusPlugin.h
  packages/sensors_plus/sensors_plus/ios/Classes/FLTSensorsPlusPlugin.m
  packages/sensors_plus/sensors_plus/ios/sensors_plus.podspec
  packages/sensors_plus/sensors_plus/lib/sensors_plus.dart
  packages/sensors_plus/sensors_plus/lib/src/sensors.dart
  packages/sensors_plus/sensors_plus/pubspec.yaml
  packages/sensors_plus/sensors_plus/test/sensors_test.dart
  packages/sensors_plus/sensors_plus_platform_interface/CHANGELOG.md
  packages/sensors_plus/sensors_plus_platform_interface/lib/sensors_plus_platform_interface.dart
  packages/sensors_plus/sensors_plus_platform_interface/lib/src/accelerometer_event.dart
  packages/sensors_plus/sensors_plus_platform_interface/lib/src/gyroscope_event.dart
  packages/sensors_plus/sensors_plus_platform_interface/lib/src/magnetometer_event.dart
  packages/sensors_plus/sensors_plus_platform_interface/lib/src/method_channel_sensors.dart
  packages/sensors_plus/sensors_plus_platform_interface/lib/src/user_accelerometer_event.dart
  packages/sensors_plus/sensors_plus_platform_interface/pubspec.yaml
  packages/sensors_plus/sensors_plus_platform_interface/test/sensors_plus_platform_interface_test.dart
  packages/sensors_plus/sensors_plus_web/CHANGELOG.md
  packages/sensors_plus/sensors_plus_web/lib/sensors_plus_web.dart
  packages/sensors_plus/sensors_plus_web/lib/src/sensors.dart
  packages/sensors_plus/sensors_plus_web/lib/src/utils.dart
  packages/sensors_plus/sensors_plus_web/pubspec.yaml
Labels: share_plus

#355 feat(network_info_plus): add ipv6, gateway, broadcast and subnet mask information
  packages/network_info_plus/network_info_plus/CHANGELOG.md
  packages/network_info_plus/network_info_plus/README.md
  packages/network_info_plus/network_info_plus/android/src/main/java/dev/fluttercommunity/plus/network_info/NetworkInfo.java
  packages/network_info_plus/network_info_plus/android/src/main/java/dev/fluttercommunity/plus/network_info/NetworkInfoMethodChannelHandler.java
  packages/network_info_plus/network_info_plus/example/lib/main.dart
  packages/network_info_plus/network_info_plus/ios/Classes/FLTNetworkInfoPlusPlugin.m
  packages/network_info_plus/network_info_plus/ios/Classes/getgateway.c
  packages/network_info_plus/network_info_plus/ios/Classes/getgateway.h
  packages/network_info_plus/network_info_plus/ios/Classes/route.h
  packages/network_info_plus/network_info_plus/lib/network_info_plus.dart
  packages/network_info_plus/network_info_plus/pubspec.yaml
  packages/network_info_plus/network_info_plus/test/network_info_test.dart
  packages/network_info_plus/network_info_plus_platform_interface/CHANGELOG.md
  packages/network_info_plus/network_info_plus_platform_interface/lib/method_channel_network_info.dart
  packages/network_info_plus/network_info_plus_platform_interface/lib/network_info_plus_platform_interface.dart
  packages/network_info_plus/network_info_plus_platform_interface/pubspec.yaml
  packages/network_info_plus/network_info_plus_platform_interface/test/method_channel_network_info_test.dart
Labels: network_info_plus

#399 Add ethernet as connectivity result
  packages/connectivity_plus/connectivity_plus/android/src/main/java/dev/fluttercommunity/plus/connectivity/Connectivity.java
  packages/connectivity_plus/connectivity_plus_linux/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus_linux/lib/src/connectivity_real.dart
  packages/connectivity_plus/connectivity_plus_linux/pubspec.yaml
  packages/connectivity_plus/connectivity_plus_platform_interface/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus_platform_interface/lib/src/enums.dart
  packages/connectivity_plus/connectivity_plus_platform_interface/lib/src/utils.dart
  packages/connectivity_plus/connectivity_plus_platform_interface/pubspec.yaml
  packages/connectivity_plus/connectivity_plus_web/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus_web/lib/src/utils/connectivity_result.dart
  packages/connectivity_plus/connectivity_plus_web/pubspec.yaml
Labels: connectivity_plus

#410 Cleaup Android Intent
  packages/android_intent_plus/CHANGELOG.md
  packages/android_intent_plus/android/src/test/java/io/flutter/plugins/androidintent/MethodCallHandlerImplTest.java
  packages/android_intent_plus/ios/Assets/.gitkeep
  packages/android_intent_plus/ios/Classes/AndroidIntentPlugin.h
  packages/android_intent_plus/ios/Classes/AndroidIntentPlugin.m
  packages/android_intent_plus/ios/android_intent.podspec
  packages/android_intent_plus/pubspec.yaml
Labels: android_intent_plus

#411 Handle fall through in unknown battery state
  packages/battery_plus/battery_plus/android/src/main/java/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.java
  packages/battery_plus/battery_plus/ios/Classes/FLTBatteryPlusPlugin.m
  packages/battery_plus/battery_plus/test/battery_test.dart
Labels: battery_plus

#414 increase flutter sdk, that requires to remove ios folder
  packages/android_intent_plus/CHANGELOG.md
  packages/android_intent_plus/pubspec.yaml
Labels: android_intent_plus

#416 Consider 4g network as mobile network instead of wifi on web platforms
  packages/connectivity_plus/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/connectivity_plus_web/lib/src/utils/connectivity_result.dart
Labels: connectivity_plus

#417 [connectivity_plus_macos] add ethernet support
  packages/connectivity_plus/connectivity_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/connectivity_plus/connectivity_plus/macos/connectivity_plus.podspec
  packages/connectivity_plus/connectivity_plus_macos/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus_macos/macos/Classes/ConnectivityPlugin.swift
  packages/connectivity_plus/connectivity_plus_macos/macos/connectivity_plus_macos.podspec
  packages/connectivity_plus/connectivity_plus_macos/pubspec.yaml
Labels: connectivity_plus

#412 [share_plus_linux] Fix sharing in Flatpak apps
  packages/share_plus/share_plus_linux/CHANGELOG.md
  packages/share_plus/share_plus_linux/lib/share_plus_linux.dart
  packages/share_plus/share_plus_linux/pubspec.yaml
  packages/share_plus/share_plus_linux/test/share_plus_linux_test.dart
Labels: share_plus

#403 fix(package_info_plus_web): fixed version.json path
  .github/workflows/all_plugins.yaml
  packages/package_info_plus/package_info_plus/CHANGELOG.md
  packages/package_info_plus/package_info_plus/pubspec.yaml
  packages/package_info_plus/package_info_plus_web/CHANGELOG.md
  packages/package_info_plus/package_info_plus_web/lib/package_info_plus_web.dart
  packages/package_info_plus/package_info_plus_web/pubspec.yaml
  packages/package_info_plus/package_info_plus_web/test/package_info_plus_web_test.dart
  packages/package_info_plus/package_info_plus_web/test/package_info_plus_web_test.mocks.dart
Labels: package_info_plus
