Repository fluttercommunity/plus_plugins, pull requests merged in 2021-07, with the labels that each got.

#348 Fix connectivity_plus: Could not get unknown property 'javaToolchains' for task ':app:compileDebugAndroidTestJavaWithJavac'
  packages/connectivity_plus/connectivity_plus/android/build.gradle
Labels: connectivity_plus

#353 connectivity_plus fix android memory leak (#326)
  packages/connectivity_plus/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus/android/src/main/java/dev/fluttercommunity/plus/connectivity/ConnectivityPlugin.java
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
Labels: connectivity_plus

#340 fix(package_info_plus): Added build signature to package info data
  packages/package_info_plus/package_info_plus/CHANGELOG.md
  packages/package_info_plus/package_info_plus/android/src/main/java/dev/fluttercommunity/plus/packageinfo/PackageInfoPlugin.java
  packages/package_info_plus/package_info_plus/example/lib/main.dart
  packages/package_info_plus/package_info_plus/lib/package_info_plus.dart
  packages/package_info_plus/package_info_plus/pubspec.yaml
  packages/package_info_plus/package_info_plus/test/package_info_test.dart
  packages/package_info_plus/package_info_plus_linux/CHANGELOG.md
  packages/package_info_plus/package_info_plus_linux/lib/src/package_info.dart
  packages/package_info_plus/package_info_plus_linux/pubspec.yaml
  packages/package_info_plus/package_info_plus_platform_interface/CHANGELOG.md
  packages/package_info_plus/package_info_plus_platform_interface/lib/method_channel_package_info.dart
  packages/package_info_plus/package_info_plus_platform_interface/lib/package_info_data.dart
  packages/package_info_plus/package_info_plus_platform_interface/pubspec.yaml
  packages/package_info_plus/package_info_plus_web/CHANGELOG.md
  packages/package_info_plus/package_info_plus_web/lib/package_info_plus_web.dart
  packages/package_info_plus/package_info_plus_web/pubspec.yaml
  packages/package_info_plus/package_info_plus_windows/CHANGELOG.md
  packages/package_info_plus/package_info_plus_windows/lib/src/package_info_plus_windows_real.dart
  packages/package_info_plus/package_info_plus_windows/pubspec.yaml
Labels: package_info_plus

#371 update all deps for package info
  packages/package_info_plus/package_info_plus/pubspec.yaml
  packages/package_info_plus/package_info_plus_linux/pubspec.yaml
  packages/package_info_plus/package_info_plus_web/pubspec.yaml
  packages/package_info_plus/package_info_plus_windows/pubspec.yaml
Labels: package_info_plus

#365 doc: Callback needs to be static
  packages/android_alarm_manager_plus/README.md
Labels: website

#369 fix(connectivity-plus): fix unregisterReceiver call
  packages/connectivity_plus/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus/android/src/main/java/dev/fluttercommunity/plus/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
Labels: connectivity_plus

#354 feat(battery_plus): add save power mode getter
  packages/battery_plus/battery_plus/CHANGELOG.md
  packages/battery_plus/battery_plus/android/src/main/java/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.java
  packages/battery_plus/battery_plus/example/lib/main.dart
  packages/battery_plus/battery_plus/example/test_driver/battery_plus_e2e.dart
  packages/battery_plus/battery_plus/ios/Classes/FLTBatteryPlusPlugin.m
  packages/battery_plus/battery_plus/lib/battery_plus.dart
  packages/battery_plus/battery_plus/pubspec.yaml
  packages/battery_plus/battery_plus/test/battery_test.dart
  packages/battery_plus/battery_plus_platform_interface/CHANGELOG.md
  packages/battery_plus/battery_plus_platform_interface/lib/battery_plus_platform_interface.dart
  packages/battery_plus/battery_plus_platform_interface/lib/method_channel_battery_plus.dart
  packages/battery_plus/battery_plus_platform_interface/pubspec.yaml
  packages/battery_plus/battery_plus_platform_interface/test/battery_plus_platform_interface_test.dart
  packages/battery_plus/battery_plus_windows/windows/battery_plus_windows_plugin.cpp
  packages/battery_plus/battery_plus_windows/windows/include/battery_plus_windows/system_battery.h
  packages/battery_plus/battery_plus_windows/windows/system_battery.cpp
Labels: battery_plus

#373 update all deps for battery plus
  packages/battery_plus/battery_plus/pubspec.yaml
  packages/battery_plus/battery_plus_linux/CHANGELOG.md
  packages/battery_plus/battery_plus_linux/pubspec.yaml
  packages/battery_plus/battery_plus_macos/CHANGELOG.md
  packages/battery_plus/battery_plus_macos/pubspec.yaml
  packages/battery_plus/battery_plus_platform_interface/CHANGELOG.md
  packages/battery_plus/battery_plus_web/CHANGELOG.md
  packages/battery_plus/battery_plus_web/pubspec.yaml
  packages/battery_plus/battery_plus_windows/CHANGELOG.md
  packages/battery_plus/battery_plus_windows/pubspec.yaml
Labels: battery_plus
