Repository fluttercommunity/plus_plugins, pull requests merged in 2022-09, with the labels that each got.

#1057 Remove Codecov coverage reports from PRs
  .github/workflows/all_plugins.yaml
  README.md
Labels: CI/CD

#1090 [network_info_plus] Migrate Android part to Kotlin
  packages/network_info_plus/network_info_plus/CHANGELOG.md
  packages/network_info_plus/network_info_plus/android/build.gradle
  packages/network_info_plus/network_info_plus/android/settings.gradle
  packages/network_info_plus/network_info_plus/android/src/main/java/dev/fluttercommunity/plus/network_info/NetworkInfo.java
  packages/network_info_plus/network_info_plus/android/src/main/java/dev/fluttercommunity/plus/network_info/NetworkInfoMethodChannelHandler.java
  packages/network_info_plus/network_info_plus/android/src/main/java/dev/fluttercommunity/plus/network_info/NetworkInfoPlusPlugin.java
  packages/network_info_plus/network_info_plus/android/src/main/kotlin/dev/fluttercommunity/plus/network_info/NetworkInfo.kt
  packages/network_info_plus/network_info_plus/android/src/main/kotlin/dev/fluttercommunity/plus/network_info/NetworkInfoMethodChannelHandler.kt
  packages/network_info_plus/network_info_plus/android/src/main/kotlin/dev/fluttercommunity/plus/network_info/NetworkInfoPlusPlugin.kt
  packages/network_info_plus/network_info_plus/example/android/app/build.gradle
  packages/network_info_plus/network_info_plus/example/android/build.gradle
  packages/network_info_plus/network_info_plus/example/android/gradle.properties
  packages/network_info_plus/network_info_plus/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/network_info_plus/network_info_plus/pubspec.yaml
Labels: android, network_info_plus

#1100 [battery_plus] Migrate Android part to Kotlin
  packages/battery_plus/battery_plus/CHANGELOG.md
  packages/battery_plus/battery_plus/README.md
  packages/battery_plus/battery_plus/android/build.gradle
  packages/battery_plus/battery_plus/android/src/main/java/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.java
  packages/battery_plus/battery_plus/android/src/main/kotlin/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.kt
  packages/battery_plus/battery_plus/example/android/app/build.gradle
  packages/battery_plus/battery_plus/example/android/build.gradle
  packages/battery_plus/battery_plus/example/android/gradle.properties
  packages/battery_plus/battery_plus/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/battery_plus/battery_plus/pubspec.yaml
  packages/battery_plus/battery_plus/test/battery_test.dart
Labels: battery_plus, android

#1109 [website] Replace deploy Action
  .github/workflows/build_deploy_website.yaml
Labels: website, CI/CD, hacktoberfest-accepted

#1110 [website] Add explicit entry point for Firebase Deploy Action
  .github/workflows/build_deploy_website.yaml
Labels: website, CI/CD

#1111 [website] Workflow to deploy preview of changes in PRs
  .github/workflows/build_preview_website.yaml
Labels: website, CI/CD

#1114 [website] Add FAQ for Alarm Manager, fix Edit this page link
  docs/android_alarm_manager_plus/usage.mdx
  packages/android_alarm_manager_plus/README.md
  website/docusaurus.config.js
Labels: website, Hacktoberfest, hacktoberfest-accepted
