Repository fluttercommunity/plus_plugins, pull requests merged in 2022-01, with the labels that each got.

#688 Website config update
  .github/workflows/build_deploy_website.yaml
  website/docusaurus.config.js
  website/package.json
  website/static/favicon/android-chrome-192x192.png
  website/static/favicon/android-chrome-512x512.png
  website/static/favicon/apple-touch-icon.png
  website/static/favicon/browserconfig.xml
  website/static/favicon/favicon-16x16.png
  website/static/favicon/favicon-32x32.png
  website/static/favicon/favicon.ico
  website/static/favicon/mstile-150x150.png
  website/static/favicon/safari-pinned-tab.svg
  website/static/favicon/site.webmanifest
  website/static/img/dart-logo.png
  website/static/img/favicon.ico
  website/static/img/firebase-logo.png
  website/static/img/flutter-favorite-badge.png
  website/static/img/flutterfire.svg
  website/static/img/flutterfire_1200x.png
  website/static/img/flutterfire_300x.png
  website/static/img/flutterfire_600x.png
Labels: website

#687 Update Github workflows and issue templates
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/SUPPORT.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/android_alarm_manager_plus.yaml
  .github/workflows/android_intent_plus.yaml
  .github/workflows/battery_plus.yaml
  .github/workflows/connectivity_plus.yaml
  .github/workflows/device_info_plus.yaml
  .github/workflows/network_info_plus.yaml
  .github/workflows/package_info_plus.yaml
  .github/workflows/sensors_plus.yaml
  .github/workflows/share_plus.yaml
  packages/android_alarm_manager_plus/.github/ISSUE_TEMPLATE/BUG.md
  packages/android_alarm_manager_plus/.github/ISSUE_TEMPLATE/SUPPORT.md
  packages/android_alarm_manager_plus/.github/ISSUE_TEMPLATE/feature_request.md
  packages/android_alarm_manager_plus/.github/workflows/flutter_test.yml
  packages/android_intent_plus/.github/workflows/android_test.yml
  packages/android_intent_plus/.github/workflows/flutter_test.yml
Labels: CI/CD

#695 Fix files filtering in workflow triggers
  .github/workflows/android_alarm_manager_plus.yaml
  .github/workflows/android_intent_plus.yaml
  .github/workflows/battery_plus.yaml
  .github/workflows/connectivity_plus.yaml
  .github/workflows/device_info_plus.yaml
  .github/workflows/network_info_plus.yaml
  .github/workflows/package_info_plus.yaml
  .github/workflows/sensors_plus.yaml
  .github/workflows/share_plus.yaml
Labels: CI/CD

#696 Add Dart Analyzer Action
  .github/workflows/all_plugins.yaml
Labels: CI/CD

#681 android_alarm_manager_plus example update for supporting "null safety"
  packages/android_alarm_manager_plus/example/android/build.gradle
  packages/android_alarm_manager_plus/example/integration_test/android_alarm_manager_plus.dart
  packages/android_alarm_manager_plus/example/lib/main.dart
  packages/android_alarm_manager_plus/example/pubspec.yaml
  packages/android_alarm_manager_plus/example/test_driver/android_alarm_manager_plus_test.dart
Labels: android_alarm_manager_plus

#702 [battery_plus] add batteryState getter
  packages/battery_plus/battery_plus/CHANGELOG.md
  packages/battery_plus/battery_plus/android/src/main/java/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.java
  packages/battery_plus/battery_plus/example/lib/main.dart
  packages/battery_plus/battery_plus/ios/Classes/FLTBatteryPlusPlugin.m
  packages/battery_plus/battery_plus/lib/battery_plus.dart
  packages/battery_plus/battery_plus/pubspec.yaml
  packages/battery_plus/battery_plus/test/battery_test.dart
  packages/battery_plus/battery_plus_linux/CHANGELOG.md
  packages/battery_plus/battery_plus_linux/lib/src/battery_plus_linux.dart
  packages/battery_plus/battery_plus_linux/pubspec.yaml
  packages/battery_plus/battery_plus_linux/test/battery_plus_linux_test.dart
  packages/battery_plus/battery_plus_macos/CHANGELOG.md
  packages/battery_plus/battery_plus_macos/macos/Classes/BatteryPlusMacosPlugin.swift
  packages/battery_plus/battery_plus_macos/pubspec.yaml
  packages/battery_plus/battery_plus_platform_interface/CHANGELOG.md
  packages/battery_plus/battery_plus_platform_interface/lib/battery_plus_platform_interface.dart
  packages/battery_plus/battery_plus_platform_interface/lib/method_channel_battery_plus.dart
  packages/battery_plus/battery_plus_platform_interface/pubspec.yaml
  packages/battery_plus/battery_plus_platform_interface/test/battery_plus_platform_interface_test.dart
  packages/battery_plus/battery_plus_web/CHANGELOG.md
  packages/battery_plus/battery_plus_web/lib/battery_plus_web.dart
  packages/battery_plus/battery_plus_web/pubspec.yaml
  packages/battery_plus/battery_plus_windows/CHANGELOG.md
  packages/battery_plus/battery_plus_windows/pubspec.yaml
  packages/battery_plus/battery_plus_windows/windows/battery_plus_windows_plugin.cpp
Labels: battery_plus

#703 [device_info_plus] fix LinuxDeviceInfo.name docs
  packages/device_info_plus/device_info_plus_platform_interface/CHANGELOG.md
  packages/device_info_plus/device_info_plus_platform_interface/lib/model/linux_device_info.dart
  packages/device_info_plus/device_info_plus_platform_interface/pubspec.yaml
Labels: device_info_plus

#700 [android_intent_plus]: Added a new argument to explicitly pass array arguments to an intent
  packages/android_intent_plus/CHANGELOG.md
  packages/android_intent_plus/android/src/main/java/dev/fluttercommunity/plus/androidintent/MethodCallHandlerImpl.java
  packages/android_intent_plus/example/lib/main.dart
  packages/android_intent_plus/lib/android_intent.dart
  packages/android_intent_plus/pubspec.yaml
Labels: android_intent_plus, android

#705 [android_alarm_manager_plus] fix initialization
  packages/android_alarm_manager_plus/CHANGELOG.md
  packages/android_alarm_manager_plus/android/src/main/java/dev/fluttercommunity/plus/androidalarmmanager/FlutterBackgroundExecutor.java
  packages/android_alarm_manager_plus/pubspec.yaml
Labels: android_alarm_manager_plus

#717 [battery_plus_info] Fix NPE on modern Samsung devices
  packages/battery_plus/battery_plus/CHANGELOG.md
  packages/battery_plus/battery_plus/android/src/main/java/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.java
  packages/battery_plus/battery_plus/pubspec.yaml
Labels: battery_plus, android
