Repository fluttercommunity/plus_plugins, pull requests merged in 2023-10, with the labels that each got.

#2169 fix(connectivity_plus)!: Bump min iOS to 12 to support XCode 15
  packages/connectivity_plus/connectivity_plus/example/ios/Flutter/AppFrameworkInfo.plist
  packages/connectivity_plus/connectivity_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity_plus/connectivity_plus/ios/connectivity_plus.podspec
Labels: connectivity_plus

#2198 ci(all): Disable automatic rebase for Dependabot PRs
  .github/dependabot.yml
Labels: CI/CD

#2204 chore(battery_plus): Update compileSDK for example app to 34
  packages/battery_plus/battery_plus/example/android/app/build.gradle
Labels: battery_plus

#2207 chore(connectivity_plus): Update compileSDK to 34 for example
  packages/connectivity_plus/connectivity_plus/example/android/app/build.gradle
Labels: connectivity_plus

#2205 chore(android_intent_plus): Update compileSDK to 34 for example
  packages/android_intent_plus/example/android/app/build.gradle
Labels: android_intent_plus

#2209 chore(network_info_plus): Update compileSDK to 34 for example
  packages/network_info_plus/network_info_plus/example/android/app/build.gradle
Labels: network_info_plus

#2206 chore(android_alarm_manager_plus): Update compileSDK to 34 for example
  packages/android_alarm_manager_plus/example/android/app/build.gradle
Labels: android_alarm_manager_plus

#2208 chore(device_info_plus): Update compileSDK to 34 for example
  packages/device_info_plus/device_info_plus/example/android/app/build.gradle
Labels: device_info_plus

#2219 chore: Update docs and commands for e2e tests
  CONTRIBUTING.md
  melos.yaml
Labels: documentation

#2220 docs(device_info_plus): Add note about arch returned value on MacOS
  packages/device_info_plus/device_info_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/device_info_plus/device_info_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/device_info_plus/device_info_plus/lib/src/model/macos_device_info.dart
  packages/device_info_plus/device_info_plus/macos/Classes/CwlSysctl.swift
Labels: device_info_plus, macos

#2230 fix(device_info_plus): Revert bump compileSDK to 34
  packages/device_info_plus/device_info_plus/android/build.gradle
  packages/device_info_plus/device_info_plus/example/android/app/build.gradle
  packages/device_info_plus/device_info_plus/example/android/build.gradle
Labels: device_info_plus

#2228 fix(battery_plus): Revert bump of compileSDK to 34
  packages/battery_plus/battery_plus/android/build.gradle
  packages/battery_plus/battery_plus/example/android/app/build.gradle
Labels: battery_plus

#2231 fix(network_info_plus): Revert bump compileSDK to 34
  packages/network_info_plus/network_info_plus/android/build.gradle
  packages/network_info_plus/network_info_plus/example/android/app/build.gradle
  packages/network_info_plus/network_info_plus/example/android/build.gradle
Labels: network_info_plus

#2232 fix(package_info_plus): Revert bump compileSDK to 34
  packages/package_info_plus/package_info_plus/android/build.gradle
  packages/package_info_plus/package_info_plus/example/android/app/build.gradle
  packages/package_info_plus/package_info_plus/example/android/build.gradle
Labels: package_info_plus

#2233 fix(sensors_plus): Revert bump compileSDK to 34
  packages/sensors_plus/sensors_plus/android/build.gradle
  packages/sensors_plus/sensors_plus/example/android/app/build.gradle
  packages/sensors_plus/sensors_plus/example/android/build.gradle
Labels: sensors_plus

#2229 fix(connectivity_plus): Revert bump compileSDK to 34
  packages/connectivity_plus/connectivity_plus/android/build.gradle
  packages/connectivity_plus/connectivity_plus/example/android/app/build.gradle
  packages/connectivity_plus/connectivity_plus/example/android/build.gradle
Labels: connectivity_plus

#2234 fix(share_plus): Revert bump to compileSDK 34
  packages/share_plus/share_plus/android/build.gradle
  packages/share_plus/share_plus/example/android/app/build.gradle
Labels: share_plus

#2235 fix(alarm_manager_plus): Revert bump compileSDK 34
  packages/android_alarm_manager_plus/android/build.gradle
  packages/android_alarm_manager_plus/example/android/app/build.gradle
  packages/android_alarm_manager_plus/example/android/build.gradle
Labels: android_alarm_manager_plus

#2236 fix(android_intent_plus): Revert bump compileSDK to 34
  packages/android_intent_plus/android/build.gradle
  packages/android_intent_plus/example/android/app/build.gradle
  packages/android_intent_plus/example/android/build.gradle
Labels: android_intent_plus

#2237 fix(android_intent_plus): Fix annotation dependency declaration
  packages/android_intent_plus/android/build.gradle
Labels: android_intent_plus

#2246 fix(connectivity_plus): Fix CHANGELOG to not mention Kotlin requirement
  packages/connectivity_plus/connectivity_plus/CHANGELOG.md
Labels: documentation

#2252 fix(share_plus): Change Kotlin version from 1.9.10 to 1.7.22
  packages/share_plus/share_plus/android/build.gradle
Labels: share_plus

#2255 fix(network_info_plus): Change Kotlin version from 1.9.10 to 1.7.22
  packages/network_info_plus/network_info_plus/android/build.gradle
  packages/network_info_plus/network_info_plus/example/android/build.gradle
Labels: network_info_plus

#2256 fix(device_info_plus): Change Kotlin version from 1.9.10 to 1.7.22
  packages/device_info_plus/device_info_plus/android/build.gradle
  packages/device_info_plus/device_info_plus/example/android/build.gradle
Labels: device_info_plus

#2249 fix(sensors_plus): Close stream controllers on cancel on web
  packages/sensors_plus/sensors_plus/lib/src/web_sensors.dart
Labels: sensors_plus

#2253 fix(sensors_plus): Change Kotlin version from 1.9.10 to 1.7.22
  packages/sensors_plus/sensors_plus/README.md
  packages/sensors_plus/sensors_plus/android/build.gradle
Labels: sensors_plus

#2257 fix(battery_plus): Change Kotlin version from 1.9.10 to 1.7.22
  packages/battery_plus/battery_plus/android/build.gradle
  packages/battery_plus/battery_plus/example/android/build.gradle
Labels: battery_plus
