Repository fluttercommunity/plus_plugins, pull requests merged in 2023-08, with the labels that each got.

#2015 fix(package_info_plus): proper version.json url for files with special characters
  packages/package_info_plus/package_info_plus/example/integration_test/package_info_plus_web_test.dart
  packages/package_info_plus/package_info_plus/lib/src/package_info_plus_web.dart
Labels: package_info_plus, web

#2019 docs(connectivity_plus): Update usage documentation on website
  docs/connectivity_plus/usage.mdx
Labels: documentation, website

#2029 docs(package_info_plus): Add explanation for known issue on Windows
  docs/package_info_plus/usage.mdx
  packages/package_info_plus/package_info_plus/README.md
Labels: documentation, package_info_plus

#2021 feat(connectivity_plus): Remove deprecated VALID_ARCHS iOS property
  packages/connectivity_plus/connectivity_plus/ios/connectivity_plus.podspec
Labels: connectivity_plus

#2022 feat(device_info_plus): Remove deprecated VALID_ARCHS iOS property
  packages/device_info_plus/device_info_plus/ios/device_info_plus.podspec
Labels: device_info_plus

#2023 feat(package_info_plus): Remove deprecated VALID_ARCHS iOS property
  packages/package_info_plus/package_info_plus/ios/package_info_plus.podspec
Labels: package_info_plus

#2024 feat(share_plus): Remove deprecated VALID_ARCHS iOS property
  packages/share_plus/share_plus/ios/share_plus.podspec
Labels: share_plus

#2025 feat(battery_plus): Remove deprecated VALID_ARCHS iOS property
  packages/battery_plus/battery_plus/ios/battery_plus.podspec
Labels: battery_plus

#2026 feat(network_info_arm): Remove deprecated VALID_ARCHS iOS property
  packages/network_info_plus/network_info_plus/ios/network_info_plus.podspec
Labels: network_info_plus

#2027 feat(sensors_plus): Remove deprecated VALID_ARCHS iOS property
  packages/sensors_plus/sensors_plus/ios/sensors_plus.podspec
Labels: sensors_plus

#2028 fix(device_info_plus): Update exports to avoid web compatibility issues
  packages/device_info_plus/device_info_plus/lib/device_info_plus.dart
Labels: device_info_plus

#1987 fix(sensors_plus): Error handling of native crashes (e.g. missing hardware)
  packages/network_info_plus/network_info_plus/ios/Classes/getgateway.h
  packages/sensors_plus/sensors_plus/ios/Classes/FLTSensorsPlusPlugin.m
Labels: bug, sensors_plus, macos

#2106 docs(share_plus): Fix usage code snippets
  docs/share_plus/usage.mdx
  packages/share_plus/share_plus/README.md
Labels: documentation, share_plus
