Repository fluttercommunity/plus_plugins, pull requests merged in 2023-05, with the labels that each got.

#1769 chore(github_templates): Fix the checklist item typo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1731 chore(package_info_plus): Update Flutter dependencies, set Flutter >=3.3.0 and Dart to >=2.18.0 <4.0.0
  packages/package_info_plus/package_info_plus/example/android/app/build.gradle
  packages/package_info_plus/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/package_info_plus/pubspec.yaml
  packages/package_info_plus/package_info_plus_platform_interface/pubspec.yaml
Labels: package_info_plus

#1735 chore(device_info_plus): Update Flutter dependencies, set Flutter >=3.3.0 and Dart to >=2.18.0 <4.0.0
  packages/device_info_plus/device_info_plus/example/lib/main.dart
  packages/device_info_plus/device_info_plus/example/pubspec.yaml
  packages/device_info_plus/device_info_plus/pubspec.yaml
  packages/device_info_plus/device_info_plus_platform_interface/pubspec.yaml
Labels: device_info_plus

#1740 chore(connectivity_plus): Update Flutter dependencies, set Flutter >=3.3.0 and Dart to >=2.18.0 <4.0.0
  packages/connectivity_plus/connectivity_plus/android/build.gradle
  packages/connectivity_plus/connectivity_plus/example/android/app/build.gradle
  packages/connectivity_plus/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/connectivity_plus/lib/src/connectivity_plus_web.dart
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/connectivity_plus_platform_interface/pubspec.yaml
Labels: connectivity_plus

#1745 chore(device_info_plus): Remove redundant checks for PRODUCT strings with sdk
  packages/device_info_plus/device_info_plus/android/src/main/kotlin/dev/fluttercommunity/plus/device_info/MethodCallHandlerImpl.kt
Labels: device_info_plus

#1774 chore(sensors_plus)!: Bump min Android and iOS versions, update podspec file
  packages/sensors_plus/sensors_plus/android/build.gradle
  packages/sensors_plus/sensors_plus/example/android/app/build.gradle
  packages/sensors_plus/sensors_plus/example/ios/Flutter/AppFrameworkInfo.plist
  packages/sensors_plus/sensors_plus/example/ios/Flutter/Flutter.podspec
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/sensors_plus/sensors_plus/example/ios/Runner/Info.plist
  packages/sensors_plus/sensors_plus/ios/sensors_plus.podspec
Labels: sensors_plus

#1773 chore(share_plus)!: Bump min Android and iOS versions, update podspec file
  packages/share_plus/share_plus/android/build.gradle
  packages/share_plus/share_plus/example/android/app/build.gradle
  packages/share_plus/share_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share_plus/share_plus/example/ios/Runner/Info.plist
  packages/share_plus/share_plus/example/pubspec.yaml
  packages/share_plus/share_plus/ios/share_plus.podspec
Labels: share_plus

#1744 fix(battery_plus): Close StreamController on Web and Linux when done
  packages/battery_plus/battery_plus/lib/src/battery_plus_linux.dart
  packages/battery_plus/battery_plus/lib/src/battery_plus_web.dart
Labels: battery_plus

#1776 chore(package_info_plus)!: Bump min Android and iOS versions, update podspec file
  packages/package_info_plus/package_info_plus/android/build.gradle
  packages/package_info_plus/package_info_plus/example/android/app/build.gradle
  packages/package_info_plus/package_info_plus/example/ios/Flutter/AppFrameworkInfo.plist
  packages/package_info_plus/package_info_plus/example/ios/Flutter/Flutter.podspec
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/package_info_plus/package_info_plus/example/ios/Runner/Info.plist
  packages/package_info_plus/package_info_plus/ios/package_info_plus.podspec
Labels: package_info_plus

#1777 chore(network_info_plus)!: Bump min Android and iOS versions, update podspec file
  packages/network_info_plus/network_info_plus/android/build.gradle
  packages/network_info_plus/network_info_plus/example/android/app/build.gradle
  packages/network_info_plus/network_info_plus/ios/network_info_plus.podspec
Labels: network_info_plus

#1782 chore(connectivity_plus)!: Bump min Android and iOS versions, update podspec file
  packages/connectivity_plus/connectivity_plus/android/build.gradle
  packages/connectivity_plus/connectivity_plus/example/android/app/build.gradle
  packages/connectivity_plus/connectivity_plus/ios/connectivity_plus.podspec
Labels: connectivity_plus

#1785 chore(android_alarm_manager)!: Bump min Android version
  packages/android_alarm_manager_plus/android/build.gradle
Labels: android_alarm_manager_plus

#1784 chore(android_intent_plus)!: Bump min Android version
  packages/android_intent_plus/android/build.gradle
  packages/android_intent_plus/example/android/app/build.gradle
Labels: android_intent_plus

#1781 chore(device_info_plus)!: Bump min Android and iOS versions, update podspec file
  packages/device_info_plus/device_info_plus/android/build.gradle
  packages/device_info_plus/device_info_plus/example/android/app/build.gradle
  packages/device_info_plus/device_info_plus/ios/device_info_plus.podspec
  packages/network_info_plus/network_info_plus/ios/network_info_plus.podspec
  packages/package_info_plus/package_info_plus/ios/package_info_plus.podspec
  packages/sensors_plus/sensors_plus/ios/sensors_plus.podspec
  packages/share_plus/share_plus/ios/share_plus.podspec
Labels: device_info_plus

#1788 chore(website): Remove null-safety page
  docs/null_safety.mdx
  docs/overview.mdx
  docs/sidebars.js
  docs/versions.js
  website/docusaurus-plugins/source-versions.js
  website/package-lock.json
  website/package.json
Labels: website, safe_deploy

#1790 ci(all): Bootstrap for integration tests, update runners
  .github/workflows/android_alarm_manager_plus.yaml
  .github/workflows/android_intent_plus.yaml
  .github/workflows/battery_plus.yaml
  .github/workflows/connectivity_plus.yaml
  .github/workflows/device_info_plus.yaml
  .github/workflows/network_info_plus.yaml
  .github/workflows/package_info_plus.yaml
  .github/workflows/sensors_plus.yaml
  .github/workflows/share_plus.yaml
  packages/device_info_plus/device_info_plus/example/integration_test/device_info_plus_test.dart
Labels: CI/CD

#1793 chore(release): prepare for release
  .github/workflows/android_alarm_manager_plus.yaml
  .github/workflows/network_info_plus.yaml
  .github/workflows/share_plus.yaml
  packages/android_alarm_manager_plus/CHANGELOG.md
  packages/android_alarm_manager_plus/example/pubspec.yaml
  packages/android_alarm_manager_plus/pubspec.yaml
  packages/android_intent_plus/CHANGELOG.md
  packages/android_intent_plus/example/pubspec.yaml
  packages/android_intent_plus/pubspec.yaml
  packages/battery_plus/battery_plus/CHANGELOG.md
  packages/battery_plus/battery_plus/example/pubspec.yaml
  packages/battery_plus/battery_plus/pubspec.yaml
  packages/connectivity_plus/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
  packages/device_info_plus/device_info_plus/CHANGELOG.md
  packages/device_info_plus/device_info_plus/example/pubspec.yaml
  packages/device_info_plus/device_info_plus/pubspec.yaml
  packages/network_info_plus/network_info_plus/CHANGELOG.md
  packages/network_info_plus/network_info_plus/example/pubspec.yaml
  packages/network_info_plus/network_info_plus/pubspec.yaml
  packages/network_info_plus/network_info_plus_platform_interface/pubspec.yaml
  packages/package_info_plus/package_info_plus/CHANGELOG.md
  packages/package_info_plus/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/package_info_plus/pubspec.yaml
  packages/sensors_plus/sensors_plus/CHANGELOG.md
  packages/sensors_plus/sensors_plus/example/pubspec.yaml
  packages/sensors_plus/sensors_plus/pubspec.yaml
  packages/share_plus/share_plus/CHANGELOG.md
  packages/share_plus/share_plus/example/pubspec.yaml
  packages/share_plus/share_plus/pubspec.yaml
Labels: all

#1802 ci: Replace deprecated flutter command
  .github/workflows/all_plugins.yaml
Labels: CI/CD

#1405 fix(sensors_plus): crashes on devices that don't have the corresponding sensor
  README.md
  packages/sensors_plus/sensors_plus/android/src/main/kotlin/dev/fluttercommunity/plus/sensors/SensorsPlugin.kt
  packages/sensors_plus/sensors_plus/android/src/main/kotlin/dev/fluttercommunity/plus/sensors/StreamHandlerImpl.kt
  packages/sensors_plus/sensors_plus/example/android/build.gradle
  packages/sensors_plus/sensors_plus/example/lib/main.dart
Labels: sensors_plus

#1853 chore(share_plus): Update file dependency constraints
  packages/share_plus/share_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share_plus/share_plus/pubspec.yaml
Labels: share_plus

#1855 chore(device_info_plus): Refactor example app
  packages/device_info_plus/device_info_plus/example/lib/main.dart
  packages/device_info_plus/device_info_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/device_info_plus/device_info_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/device_info_plus/device_info_plus/example/pubspec.yaml
Labels: device_info_plus

#1859 fix(sensors_plus): Fix issues with emitting multiple sensors events on iOS
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors_plus/sensors_plus/ios/Classes/FLTSensorsPlusPlugin.m
Labels: sensors_plus

#1863 docs(all): Fix example links on pub.dev
  packages/android_alarm_manager_plus/pubspec.yaml
  packages/android_intent_plus/pubspec.yaml
  packages/battery_plus/battery_plus/pubspec.yaml
  packages/connectivity_plus/connectivity_plus/pubspec.yaml
  packages/device_info_plus/device_info_plus/pubspec.yaml
  packages/network_info_plus/network_info_plus/pubspec.yaml
  packages/package_info_plus/package_info_plus/pubspec.yaml
  packages/sensors_plus/sensors_plus/pubspec.yaml
  packages/share_plus/share_plus/pubspec.yaml
Labels: documentation

#1868 fix(device_info_plus): Regenerate iOS and MacOS example apps
  packages/device_info_plus/device_info_plus/example/ios/.gitignore
  packages/device_info_plus/device_info_plus/example/ios/Flutter/Debug.xcconfig
  packages/device_info_plus/device_info_plus/example/ios/Flutter/Release.xcconfig
  packages/device_info_plus/device_info_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/device_info_plus/device_info_plus/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/device_info_plus/device_info_plus/example/ios/Runner/Info.plist
  packages/device_info_plus/device_info_plus/example/ios/RunnerTests/RunnerTests.swift
  packages/device_info_plus/device_info_plus/example/macos/.gitignore
  packages/device_info_plus/device_info_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/device_info_plus/device_info_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/device_info_plus/device_info_plus/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/device_info_plus/device_info_plus/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/device_info_plus/device_info_plus/example/macos/Runner/MainFlutterWindow.swift
  packages/device_info_plus/device_info_plus/example/macos/RunnerTests/RunnerTests.swift
Labels: device_info_plus

#1870 fix(sensors_plus): Regenerate iOS example app
  packages/sensors_plus/sensors_plus/example/ios/.gitignore
  packages/sensors_plus/sensors_plus/example/ios/Flutter/.last_build_id
  packages/sensors_plus/sensors_plus/example/ios/Flutter/AppFrameworkInfo.plist
  packages/sensors_plus/sensors_plus/example/ios/Flutter/Debug.xcconfig
  packages/sensors_plus/sensors_plus/example/ios/Flutter/Flutter.podspec
  packages/sensors_plus/sensors_plus/example/ios/Flutter/Release.xcconfig
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/sensors_plus/sensors_plus/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/sensors_plus/sensors_plus/example/ios/Runner/AppDelegate.h
  packages/sensors_plus/sensors_plus/example/ios/Runner/AppDelegate.m
  packages/sensors_plus/sensors_plus/example/ios/Runner/AppDelegate.swift
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/sensors_plus/sensors_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/sensors_plus/sensors_plus/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/sensors_plus/sensors_plus/example/ios/Runner/Info.plist
  packages/sensors_plus/sensors_plus/example/ios/Runner/Runner-Bridging-Header.h
  packages/sensors_plus/sensors_plus/example/ios/Runner/main.m
  packages/sensors_plus/sensors_plus/example/ios/RunnerTests/RunnerTests.swift
Labels: sensors_plus

#1871 fix(package_info_plus): Regenerate iOS and MacOS example apps
  packages/package_info_plus/package_info_plus/example/integration_test/package_info_plus_test.dart
  packages/package_info_plus/package_info_plus/example/ios/.gitignore
  packages/package_info_plus/package_info_plus/example/ios/Flutter/AppFrameworkInfo.plist
  packages/package_info_plus/package_info_plus/example/ios/Flutter/Debug.xcconfig
  packages/package_info_plus/package_info_plus/example/ios/Flutter/Flutter.podspec
  packages/package_info_plus/package_info_plus/example/ios/Flutter/Release.xcconfig
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/package_info_plus/package_info_plus/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/package_info_plus/package_info_plus/example/ios/Runner/AppDelegate.h
  packages/package_info_plus/package_info_plus/example/ios/Runner/AppDelegate.m
  packages/package_info_plus/package_info_plus/example/ios/Runner/AppDelegate.swift
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/package_info_plus/package_info_plus/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/package_info_plus/package_info_plus/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/package_info_plus/package_info_plus/example/ios/Runner/Info.plist
  packages/package_info_plus/package_info_plus/example/ios/Runner/Runner-Bridging-Header.h
  packages/package_info_plus/package_info_plus/example/ios/Runner/main.m
  packages/package_info_plus/package_info_plus/example/ios/RunnerTests/RunnerTests.swift
  packages/package_info_plus/package_info_plus/example/macos/.gitignore
  packages/package_info_plus/package_info_plus/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/package_info_plus/package_info_plus/example/macos/Flutter/Flutter-Release.xcconfig
  packages/package_info_plus/package_info_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/package_info_plus/package_info_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/package_info_plus/package_info_plus/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/package_info_plus/package_info_plus/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/package_info_plus/package_info_plus/example/macos/Runner/Info.plist
  packages/package_info_plus/package_info_plus/example/macos/Runner/MainFlutterWindow.swift
  packages/package_info_plus/package_info_plus/example/macos/RunnerTests/RunnerTests.swift
Labels: package_info_plus

#1874 fix(connectivity_plus): Regenerate iOS and MacOS example apps
  packages/connectivity_plus/connectivity_plus/example/ios/Flutter/AppFrameworkInfo.plist
  packages/connectivity_plus/connectivity_plus/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity_plus/connectivity_plus/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/connectivity_plus/connectivity_plus/example/ios/Runner/Info.plist
  packages/connectivity_plus/connectivity_plus/example/ios/RunnerTests/RunnerTests.swift
  packages/connectivity_plus/connectivity_plus/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/connectivity_plus/connectivity_plus/example/macos/Flutter/Flutter-Release.xcconfig
  packages/connectivity_plus/connectivity_plus/example/macos/Runner.xcodeproj/project.pbxproj
  packages/connectivity_plus/connectivity_plus/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/connectivity_plus/connectivity_plus/example/macos/Runner/MainFlutterWindow.swift
  packages/connectivity_plus/connectivity_plus/example/macos/RunnerTests/RunnerTests.swift
Labels: connectivity_plus

#1875 chore(ci): Update Melos and analyzer action
  .github/workflows/all_plugins.yaml
  .github/workflows/scripts/install-flutter.sh
  pubspec.yaml
Labels: CI/CD
