Repository fluttercommunity/plus_plugins, pull requests merged in 2024-10, with the labels that each got.

#3254 fix(device_info_plus)!: fixed webasm compliance
  packages/device_info_plus/device_info_plus/example/web/index.html
  packages/device_info_plus/device_info_plus/lib/src/device_info_plus_web.dart
  packages/device_info_plus/device_info_plus/lib/src/model/web_browser_info.dart
  packages/device_info_plus/device_info_plus/pubspec.yaml
  packages/device_info_plus/device_info_plus/test/model/web_browser_info_test.dart
Labels: device_info_plus, web

#3154 feat(battery_plus): Add Swift Package Manager support
  .gitignore
  packages/battery_plus/battery_plus/ios/Assets/.gitkeep
  packages/battery_plus/battery_plus/ios/battery_plus.podspec
  packages/battery_plus/battery_plus/ios/battery_plus/Package.swift
  packages/battery_plus/battery_plus/ios/battery_plus/Sources/battery_plus/FPPBatteryPlusPlugin.m
  packages/battery_plus/battery_plus/ios/battery_plus/Sources/battery_plus/PrivacyInfo.xcprivacy
  packages/battery_plus/battery_plus/ios/battery_plus/Sources/battery_plus/include/battery_plus/FPPBatteryPlusPlugin.h
  packages/battery_plus/battery_plus/macos/battery_plus.podspec
  packages/battery_plus/battery_plus/macos/battery_plus/Package.swift
  packages/battery_plus/battery_plus/macos/battery_plus/Sources/battery_plus/BatteryPlusChargingHandler.swift
  packages/battery_plus/battery_plus/macos/battery_plus/Sources/battery_plus/BatteryPlusMacosPlugin.swift
  packages/battery_plus/battery_plus/macos/battery_plus/Sources/battery_plus/PrivacyInfo.xcprivacy
Labels: battery_plus, ios, macos, PR: needs manual testing

#3167 feat(device_info_plus): Add Swift Package Manager support
  packages/device_info_plus/device_info_plus/.gitignore
  packages/device_info_plus/device_info_plus/ios/Assets/.gitkeep
  packages/device_info_plus/device_info_plus/ios/device_info_plus.podspec
  packages/device_info_plus/device_info_plus/ios/device_info_plus/Package.swift
  packages/device_info_plus/device_info_plus/ios/device_info_plus/Sources/device_info_plus/FPPDeviceInfoPlusPlugin.m
  packages/device_info_plus/device_info_plus/ios/device_info_plus/Sources/device_info_plus/PrivacyInfo.xcprivacy
  packages/device_info_plus/device_info_plus/ios/device_info_plus/Sources/device_info_plus/include/device_info_plus/FPPDeviceInfoPlusPlugin.h
  packages/device_info_plus/device_info_plus/macos/device_info_plus.podspec
  packages/device_info_plus/device_info_plus/macos/device_info_plus/Package.swift
  packages/device_info_plus/device_info_plus/macos/device_info_plus/Sources/device_info_plus/CwlSysctl.swift
  packages/device_info_plus/device_info_plus/macos/device_info_plus/Sources/device_info_plus/DeviceInfoPlusMacosPlugin.swift
  packages/device_info_plus/device_info_plus/macos/device_info_plus/Sources/device_info_plus/PrivacyInfo.xcprivacy
  packages/device_info_plus/device_info_plus/macos/device_info_plus/Sources/device_info_plus/SystemUUID.swift
Labels: ios, device_info_plus, macos, PR: needs review, PR: needs manual testing

#3169 feat(share_plus): Add Swift Package Manager support
  packages/share_plus/share_plus/.gitignore
  packages/share_plus/share_plus/ios/share_plus.podspec
  packages/share_plus/share_plus/ios/share_plus/Package.swift
  packages/share_plus/share_plus/ios/share_plus/Sources/share_plus/FPPSharePlusPlugin.m
  packages/share_plus/share_plus/ios/share_plus/Sources/share_plus/PrivacyInfo.xcprivacy
  packages/share_plus/share_plus/ios/share_plus/Sources/share_plus/include/share_plus/FPPSharePlusPlugin.h
  packages/share_plus/share_plus/macos/share_plus.podspec
  packages/share_plus/share_plus/macos/share_plus/Package.swift
  packages/share_plus/share_plus/macos/share_plus/Sources/share_plus/PrivacyInfo.xcprivacy
  packages/share_plus/share_plus/macos/share_plus/Sources/share_plus/SharePlusMacosPlugin.swift
Labels: share_plus, ios, macos, PR: needs manual testing

#3170 feat(sensors_plus): Add Swift Package Manager support
  packages/sensors_plus/sensors_plus/ios/Assets/.gitkeep
  packages/sensors_plus/sensors_plus/ios/sensors_plus.podspec
  packages/sensors_plus/sensors_plus/ios/sensors_plus/Package.swift
  packages/sensors_plus/sensors_plus/ios/sensors_plus/Sources/sensors_plus/FPPSensorsPlusPlugin.swift
  packages/sensors_plus/sensors_plus/ios/sensors_plus/Sources/sensors_plus/FPPStreamHandlerPlus.swift
  packages/sensors_plus/sensors_plus/ios/sensors_plus/Sources/sensors_plus/PrivacyInfo.xcprivacy
Labels: sensors_plus, ios, PR: needs manual testing

#3323 fix(battery_plus): Bring back entry needed by the iOS privacy manifest
  packages/battery_plus/battery_plus/ios/battery_plus/Sources/battery_plus/PrivacyInfo.xcprivacy
Labels: battery_plus

#3173 feat(connectivity_plus): Add Swift Package Manager support
  packages/connectivity_plus/connectivity_plus/darwin/Assets/.gitkeep
  packages/connectivity_plus/connectivity_plus/darwin/Classes/ConnectivityPlusPlugin.h
  packages/connectivity_plus/connectivity_plus/darwin/Classes/ConnectivityPlusPlugin.m
  packages/connectivity_plus/connectivity_plus/darwin/connectivity_plus.podspec
  packages/connectivity_plus/connectivity_plus/darwin/connectivity_plus/Package.swift
  packages/connectivity_plus/connectivity_plus/darwin/connectivity_plus/Sources/connectivity_plus/ConnectivityPlusPlugin.swift
  packages/connectivity_plus/connectivity_plus/darwin/connectivity_plus/Sources/connectivity_plus/ConnectivityProvider.swift
  packages/connectivity_plus/connectivity_plus/darwin/connectivity_plus/Sources/connectivity_plus/PathMonitorConnectivityProvider.swift
  packages/connectivity_plus/connectivity_plus/darwin/connectivity_plus/Sources/connectivity_plus/PrivacyInfo.xcprivacy
Labels: connectivity_plus, ios, macos, PR: needs review, PR: needs manual testing

#3172 feat(network_info_plus): Add Swift Package Manager support
  packages/network_info_plus/network_info_plus/ios/Assets/.gitkeep
  packages/network_info_plus/network_info_plus/ios/network_info_plus.podspec
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Package.swift
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/FPPCaptiveNetworkInfoProvider.m
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/FPPHotspotNetworkInfoProvider.m
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/FPPNetworkInfo.m
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/FPPNetworkInfoPlusPlugin.m
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/PrivacyInfo.xcprivacy
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/getgateway.c
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/FPPCaptiveNetworkInfoProvider.h
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/FPPHotspotNetworkInfoProvider.h
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/FPPNetworkInfo.h
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/FPPNetworkInfoPlusPlugin.h
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/FPPNetworkInfoProvider.h
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/getgateway.h
  packages/network_info_plus/network_info_plus/ios/network_info_plus/Sources/network_info_plus/include/network_info_plus/route.h
  packages/network_info_plus/network_info_plus/macos/network_info_plus.podspec
  packages/network_info_plus/network_info_plus/macos/network_info_plus/Package.swift
  packages/network_info_plus/network_info_plus/macos/network_info_plus/Sources/network_info_plus/NetworkInfoPlusPlugin.swift
  packages/network_info_plus/network_info_plus/macos/network_info_plus/Sources/network_info_plus/PrivacyInfo.xcprivacy
Labels: ios, network_info_plus, macos, PR: needs manual testing

#3326 fix(share_plus): Update iOS privacy manifest
  packages/share_plus/share_plus/ios/share_plus/Sources/share_plus/PrivacyInfo.xcprivacy
Labels: share_plus

#3332 feat(battery_plus): Add battery save mode check on MacOS
  packages/battery_plus/battery_plus/README.md
  packages/battery_plus/battery_plus/example/integration_test/battery_plus_test.dart
  packages/battery_plus/battery_plus/lib/battery_plus.dart
  packages/battery_plus/battery_plus/macos/battery_plus/Sources/battery_plus/BatteryPlusMacosPlugin.swift
Labels: battery_plus

#3335 chore(all): Update the release process docs
  CONTRIBUTING.md
Labels: documentation
